@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@700&display=swap');


:root {
    --dark-navy: #2c3e50;
    --off-white: #ecf0f1;
}

/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* This should match the font in the image */
    background-color: #f4f4f4;
    /* Adjust to match the background color */
    color: #333;
    /* Default text color */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

/* Style for the header and navigation bar */
header {
    background-color: transparent;
    /* A dark shade similar to navy blue */
    color: #ecf0f1;
    /* Light text color for contrast */
    padding: 1em 2em;
    /* Adjust spacing as needed */
}

nav {
    background-color: transparent;
    /* Assuming the navbar is over the hero image */
    padding: 1em 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Center if the nav is full width */
    align-items: center;
}

nav li:not(:last-child) {
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: #333;
    /* Assuming white text on a dark background */
    font-weight: 700;
    text-transform: uppercase;
    /* Style as per the design */
    letter-spacing: 1px;
}

nav a:hover {
    color: #3498db;
    /* Highlight color on hover */
}

/* Logo or Brand Name */
.brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Adjustments for smaller screens or more complex behavior */
@media (max-width: 768px) {
    /* Implement responsive design changes for mobile devices */
}

/* Home Page Styles */

/* Hero Section */
#hero {
    background: url('../images/djing_wedding_rings_image.jpeg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    /* overlay color */
    mix-blend-mode: overlay;
}

#hero h1 {
    font-size: 4em;
    /* Larger font size for the main heading */
    font-weight: 700;
    /* Bolder weight if it matches the design */
    margin-bottom: 0.5em;
    z-index: 1;
    position: relative;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#hero p {
    font-size: 1.8em;
    /* Slightly larger for visibility */
    max-width: 600px;
    /* Max width to control text flow */
    margin-left: auto;
    margin-right: auto;
    /* Center the text block */
    margin-bottom: 1em;
    z-index: 1;
    position: relative;
}

#hero .btn {
    font-size: 1em;
    padding: 15px 30px;
    z-index: 1;
    position: relative;
}

/* Button Styling */
.btn {
    font-size: 1.1em;
    border: 2px solid #fff;
    display: inline-block;
    padding: 15px 35px;
    background-color: #3498db;
    /* Adjust based on design */
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #fff;
    color: var(--dark-navy);
    border-color: #fff;
    /* Maintain border color on hover if desired */
}

/* Grid container */
.grid-container {
    max-width: 1200px;
    margin: 50px auto;
    /* Center the grid and add vertical space */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Responsive grid */
    grid-gap: 15px;
    /* Space between grid items */
}

.grid-item {
    padding: 50px;
    /* Increase padding for each grid item */
    background-color: var(--off-white);
}

/* cards */

.card {
    background-color: var(--off-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    /* Adjust as needed */
    padding: 20px;
    border-radius: 10px;
    /* Rounded corners */
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* About Section */
#about {
    background-color: #f8f8f8;
    /* Light background for contrast */
    padding: 50px 20px;
    text-align: center;
}

#about h2 {
    margin-bottom: 20px;
}

/* Services Section */
#services-home {
    padding: 50px 20px;
}

/* Services highlights will be styled here */

/* Gallery Section */
#gallery-home {
    padding: 50px 20px;
}

/* Gallery preview will be styled here */